In [1]:
# List of high schools

In [2]:
high_schools=["Hernandez High School","Figueroa High School","Wilson High School","Wright High School"]

In [3]:
high_schools

['Hernandez High School',
 'Figueroa High School',
 'Wilson High School',
 'Wright High School']

In [4]:
high_schools[0]

'Hernandez High School'

In [5]:
high_schools[1]

'Figueroa High School'

In [6]:
high_schools[2]

'Wilson High School'

In [7]:
high_schools[3]

'Wright High School'

In [8]:
# A dictionary of high schools and the type of school.

In [9]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [10]:
high_school_types

[{'High School': 'Griffin', 'Type': 'District'},
 {'High School': 'Figueroa', 'Type': 'District'},
 {'High School': 'Wilson', 'Type': 'Charter'},
 {'High School': 'Wright', 'Type': 'Charter'}]

In [11]:
# List of high schools

In [12]:
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [13]:
high_schools

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodriguez High School',
 'Johnson High School',
 'Ford High School',
 'Thomas High School']

In [15]:
# Add the Pandas Dependancy

In [1]:
import pandas as pd

C:\Users\conno\Anaconda3\envs\PythonData\lib\site-packages\numpy\__init__.py:143: UserWarning: mkl-service package failed to import, therefore Intel(R) MKL initialization ensuring its correct out-of-the box operation under condition when Gnu OpenMP had already been loaded by Python process is not assured. Please install mkl-service package, see http://github.com/IntelPython/mkl-service
  from . import _distributor_init

ImportError: Unable to import required dependencies:
numpy:

IMPORTANT: PLEASE READ THIS FOR ADVICE ON HOW TO SOLVE THIS ISSUE!

Importing the numpy C-extensions failed. This error can happen for
many reasons, often due to issues with your setup or how NumPy was
installed.

We have compiled some common reasons and troubleshooting tips at:

    https://numpy.org/devdocs/user/troubleshooting-importerror.html

Please note and check the following:

  * The Python version is: Python3.7 from "C:\Users\conno\Anaconda3\envs\PythonData\python.exe"
  * The NumPy version is: "1.20.3"

and make sure that they are the versions you expect.
Please carefully study the documentation linked above for further help.

Original error was: DLL load failed: The specified module could not be found.

In [16]:
# Create a Pandas Series from a list

In [17]:
school_series = pd.Series(high_schools)

In [18]:
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [21]:
school_series[14]

'Thomas High School'

In [22]:
# A dictionary of high schools

In [23]:
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [24]:
high_school_dicts

[{'School ID': 0, 'school_name': 'Huang High    School', 'type': 'District'},
 {'School ID': 1, 'school_name': 'Figueroa High School', 'type': 'District'},
 {'School ID': 2, 'school_name': 'Shelton High School', 'type': 'Charter'},
 {'School ID': 3, 'school_name': 'Hernandez High School', 'type': 'District'},
 {'School ID': 4, 'school_name': 'Griffin High School', 'type': 'Charter'}]

In [25]:
school_df = pd.DataFrame(high_school_dicts)

In [26]:
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [27]:
# three seperate lists of info on high schools

In [28]:
school_id = [0,1,2,3,4,5]

In [29]:
school_name = ["Huang High School","Figueroa High School","Shelton High School","Hernandez High School","Griffin High School"]

In [30]:
type_of_school = ["District", "District", "Charter", "District","Charter"]

In [31]:
# Initialize a new DataFrame

In [32]:
schools_df = pd.DataFrame()

In [33]:
# add the list to a new DataFrame.

In [34]:
schools_df["School ID"] = school_id

In [35]:
# print the DataFrame

In [36]:
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4
5          5

In [37]:
type_of_school as "Type"

SyntaxError: invalid syntax (Temp/ipykernel_4128/1512343763.py, line 1)

In [39]:
schools_df["type_of_school"] = "Type"

In [40]:
schools_df

   School ID type_of_school
0          0           Type
1          1           Type
2          2           Type
3          3           Type
4          4           Type
5          5           Type

In [42]:
# Create a dictionary of information on high schools.

In [43]:
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [46]:
high_schools_dict = pd.DataFrame(high_school_dicts)

In [48]:
high_schools_dict

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [49]:
schools_df.columns

Index(['School ID', 'type_of_school'], dtype='object')

In [50]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [51]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)