In [1]:
# List of high schools

In [2]:
high_schools=["Hernandez High School","Figueroa High School","Wilson High School","Wright High School"]

In [3]:
high_schools

['Hernandez High School',
 'Figueroa High School',
 'Wilson High School',
 'Wright High School']

In [4]:
high_schools[0]

'Hernandez High School'

In [5]:
high_schools[1]

'Figueroa High School'

In [6]:
high_schools[2]

'Wilson High School'

In [7]:
high_schools[3]

'Wright High School'

In [8]:
# A dictionary of high schools and the type of school.

In [9]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [10]:
high_school_types

[{'High School': 'Griffin', 'Type': 'District'},
 {'High School': 'Figueroa', 'Type': 'District'},
 {'High School': 'Wilson', 'Type': 'Charter'},
 {'High School': 'Wright', 'Type': 'Charter'}]

In [11]:
# List of high schools

In [12]:
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [13]:
high_schools

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodriguez High School',
 'Johnson High School',
 'Ford High School',
 'Thomas High School']

In [15]:
# Add the Pandas Dependancy

In [14]:
import pandas as pd

In [16]:
# Create a Pandas Series from a list

In [17]:
school_series = pd.Series(high_schools)

In [18]:
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [21]:
school_series[14]

'Thomas High School'

In [22]:
# A dictionary of high schools

In [23]:
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [24]:
high_school_dicts

[{'School ID': 0, 'school_name': 'Huang High    School', 'type': 'District'},
 {'School ID': 1, 'school_name': 'Figueroa High School', 'type': 'District'},
 {'School ID': 2, 'school_name': 'Shelton High School', 'type': 'Charter'},
 {'School ID': 3, 'school_name': 'Hernandez High School', 'type': 'District'},
 {'School ID': 4, 'school_name': 'Griffin High School', 'type': 'Charter'}]

In [25]:
school_df = pd.DataFrame(high_school_dicts)

In [26]:
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [27]:
# three seperate lists of info on high schools

In [28]:
school_id = [0,1,2,3,4,5]

In [29]:
school_name = ["Huang High School","Figueroa High School","Shelton High School","Hernandez High School","Griffin High School"]

In [30]:
type_of_school = ["District", "District", "Charter", "District","Charter"]

In [31]:
# Initialize a new DataFrame

In [32]:
schools_df = pd.DataFrame()

In [33]:
# add the list to a new DataFrame.

In [34]:
schools_df["School ID"] = school_id

In [35]:
# print the DataFrame

In [36]:
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4
5          5

In [37]:
type_of_school as "Type"

SyntaxError: invalid syntax (Temp/ipykernel_4128/1512343763.py, line 1)

In [39]:
schools_df["type_of_school"] = "Type"